


 
 #images
{
margin-left:40.1%;
margin-top:-5%;
}


 
body
{ 
background-image:url('../img/background.png');
background-size:100% 100%;
 
}

#text1
{visibility:hidden;}

#text2
{
visibility:hidden;
}
#text3
{
visibility:hidden;
}
