

#logo
{
	float:left; cursor:pointer;
 
  
}

  
    
body
{
  font-family: Verdana,Arial,sans-serif; font-size: 1.4em; 
	
  
	/*width:980px;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	/*background-image:url('../img/background.png');
background-size:100% 100%;*/


	
  margin: 0px;
  padding:0px;
  text-align:center;
  
}


.facility
{
margin-left:-20px;
}

p.bluebar
{
color: #389EFD;
padding: 4px 0 5px 0;
display: block;
font-size: 1.2em;

text-align:center;


}
/*border-bottom: 4px solid #57B6DD;

line-height: 1.4em;*/


.inputfield
{

border: 1px solid #CCC;
margin: 0;
padding: 4px;
height: 23px;
top: 0;
font-size: 1.8em;
clear: both;
color: #4D4D4D;
}
#header
{
	width:980px; height:100px;
	margin-left:5px;
	padding:0px 0px 0px 0px;

}
#progress
{
margin-right:1px;

}
.group.half {
margin-left:500px;
float:left;
width: 440px;
position: relative;

}
.forms {
position: relative;
float: left;
margin-left:-120px;
width: 775px;

}
#Frame {
margin-left:570px;
width: 1240px;

height:2500px;
margin-top:20px;

}
#meterdata
{
margin-left:50px;
}
.address
{
float:left;
text-align:left;

}
#state
{
float:left;
text-align:left;
margin-top:-20px;
}
.chzn-container {
font-size: 19px;
}
label#text_add
{
margin-left:-420px;
text-align:left;
}
#content
{
margin-left:-260px;
color:#6C6B6B;
}

#fac_type
{

width:770px;
margin-left:-120px;
position: relative;
float: left;
}
.form2
{
width:770px;
margin-left:-320px;
position: relative;
float: left;

}
.form3
{
width:770px;
margin-left:-240px;
position: relative;
float: left;
font-size: 20px;

}
#curtailment_capability
{
width:770px;
margin-left:-120px;
position: relative;
float: left;
}
#standbygen
{

width:770px;
margin-left:-120px;
position: relative;
float: left;
}
#curtail_fac
{
margin-left:-148px;
}
#dropportunity
{
width:770px;
margin-left:-120px;
position: relative;
float: left;
}
#durationtext
{
margin-left:-38px;

}
#duration
{
width:40%;
}
#frequency
{
width:40%;
}

.upload-button
  {
-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
  margin-left:205px;

}

.upload-button:hover
{
 
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;

}
.upload-button:active
{
position:relative;
	top:1px;
}


.html-text-box
{
 font-family: Verdana,Arial,sans-serif; font-size: 0.9em;
}
.textinput
{
width:100%;
height:100%;
}
.file_uploader
{
width:720px;
}

.chosen
{
width:70%;
}
#advanced_notice
{
width:40%;
}


table, th, tr, td {
border-style:solid;

border-color: black;
text-align: center;

}


#topnav
{

margin-top:-20px;
}



#fixed-nav {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 410px;
   
}

#fixed-nav li 
{
  margin: 0 0 44px;
  list-style: none;
  margin-left:-75px;
 
}



#location
{
border:2px solid #a1a1a1;
padding: 17.5px 36.8px;
background:#39528C;

border-bottom-right-radius:22px;
text-decoration:none;
color:ffffff;
margin-left:25px;

-webkit-transition:0.4s all ease-in-out;

}

a#location:hover
{

/*padding:32px 23.5px; */
color: #000000;
background-color:#958E8E;
-webkit-transition:0.3s all ease-in-out;

}


#type
{
border:2px solid #a1a1a1;
padding: 17px 22.9px;
background:#39528C;

border-bottom-right-radius:22px;
text-decoration:none;
color:ffffff;
margin-left:24px;

-webkit-transition:0.4s all ease-in-out;

}
a#type:hover
{
/*padding:32px 48.5px; */
color: #000000;
background-color:#958E8E;
-webkit-transition:0.3s all ease-in-out;


}
#curtailment
{
border:2px solid #a1a1a1;

padding: 21.5px 5px;
background:#39528C;
width:100px;
border-bottom-right-radius:22px;
text-decoration:none;
color:ffffff;
margin-left:24px;

-webkit-transition:0.4s all ease-in-out;

}
a#curtailment:hover

  {
  
   
/*padding:42px 15px; */
color: #000000;

background-color:#958E8E;
-webkit-transition:0.3s all ease-in-out;


}

.selected { background-color: #ffff00; }
.on {background-color:#84C1DF;}
 .off {background-color:white;}
#generator
{
border:2px solid #a1a1a1;
padding:18.7px 15.8px; 
background:#39528C;
margin-left:24px;

border-bottom-right-radius:21.8px;
text-decoration:none;
color:ffffff;
-webkit-transition:0.4s all ease-in-out;

}

a#generator:hover
{
/*padding:32px 15px; */
color:#000000;
background-color:#958E8E;
-webkit-transition:0.3s all ease-in-out;
}



#DR
{
border:2px solid #a1a1a1;
padding:17.6px 37px; 
background:#39528C;

border-bottom-right-radius:22px;
text-decoration:none;
color:ffffff;

margin-left:20px;
-webkit-transition:0.4s all ease-in-out;

}



a#DR:hover
{
/*padding:32px 35px; */
color: #000000;
background-color:#958E8E;
-webkit-transition:0.3s all ease-in-out;
}

#top
{
border:2px solid #a1a1a1;
padding:19.5px 56px; 
background:#585858;

width:300px;
border-bottom-right-radius:22px;
text-decoration:underline;
color:#ffffff;
margin-left:2px;
-webkit-transition:0.4s all ease-in-out;
 

}

a#top:hover
{
/*padding:22px 80px; */
color: #000000;
background-color: #958E8E;
-webkit-transition:0.3s all ease-in-out;
}


#gentabs
{
width:40%;
margin-left:-250px;
}


#submit
  {
-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
  margin-left:-160px;

}

#submit:hover
{
 
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;

}
#submit:active
{
position:relative;
	top:1px;
}


#season
{
margin-left:280px;
width:40%;
}

#year
{
width:40%;
margin-left:280px;
}


